$title-color: rgba(0, 0, 0, 0.85);
$primary-color: rgb(255, 125, 26);

.container {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
    padding: 15px 20px;
    max-width: 330px;
    min-height: 215px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .empty {
        color: $title-color;
        text-align: center;
        margin: 45px 0;
        font-size: 1.5rem;
    }
    .cart {
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        font-weight: 700;
        color: $title-color;
    }
    .itemsContainer{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .delete {
                cursor: pointer;
            }
            .thumb {
                width: 50px;
                border-radius: 5px;
            }
            .cartInfo {
                width: 205px;
                .cartTitle {
                    color: rgba(0, 0, 0, 0.60);
                    font-weight: 500;
                }
                .price {
                    color: rgba(0, 0, 0, 0.60);
                    font-weight: 500;
                }
                .total {
                    font-weight: 700;
                    color: $title-color;
                }
            }
        }
        .checkout {
            border-width: 0;
            border-radius: 10px;
            height: 45px;
            color: white;
            font-weight: 600;
            background: $primary-color;
            opacity: 50%;
            cursor: not-allowed;
        }
    }
}